[Desktop Entry]
Encoding=UTF-8
Name=Link to Populous DS : une timide apparition
Type=Link
URL=https://www.generation-nt.com/populous-ds-electronic-arts-actualite-47247.html
Icon=text-html
